
<body>
    <div id="conteini">
        <h1>Su blog de Ciberseguridad</h1>
        <button id="btoont">Alta articulos</button>
    </div>

    <div id="conteimg">
        <img src="./assets/img/Captur.png" alt="">
    </div>
    <div id="contetarjetas">
        <div class="tarjetas">
            <img   width="200px"  src="./assets/img/download.jpg" alt="">
            <p id="pes">Hacking Etico</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto error consequatur quos, quas nobis maxime mod</p>
            <button [routerLink]="['/ejercicio2-sub-pagina', 1]" id="btoont">Mas Informacion</button>
        </div>

        <div class="tarjetas">
            <img width="200px" src="./assets/img/ethical-hacking-ciberseguridad-behackerpro.jpg" alt="">
            <p id="pes"> Legislacion de Seguridad en Europa</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam nemo obcaecati repellat asperiores </p>
            <button [routerLink]="['/ejercicio2-sub-pagina', 2]" id="btoont">Mas Informacion</button>
        </div>

        <div class="tarjetas">
            <img width="200px" src="./assets/img/hacking-etico-articulo-1200x630.jpg" alt="">
            <p id="pes"> ¿Como evitar que me hackeen?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque repudiandae facere totam ipsum animi deleniti dic</p>
            <button [routerLink]="['/ejercicio2-sub-pagina',3 ]" id="btoont">Mas Informacion</button>
        </div>

        <div class="tarjetas">
            <img width="200px" src="./assets/img/hacking-etico.jpg" alt="">
            <p id="pes"> ¿Que es Phising?</p>
            <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque repudiandae facere totam ipsum animi deleniti dic</p>
            <button [routerLink]="['/ejercicio2-sub-pagina', 4]"  id="btoont">Mas Informacion</button>
        </div>
       
    </div>
</body>
