* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    width: 100%;
    height: 180vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 43, 43);

}
#conteini{
    background-color: rgb(43, 43, 43);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(99, 255, 37);
    gap: 5%;
}
#btoont{
    background-color: rgb(99, 255, 37);
    color: white;
    height: 40px;
    width: 100px;
}
#conteimg {
    width: 100%;
    height: 70vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteimg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#contetarjetas{
    margin-top: 4%;
    background-color: rgb(43, 43, 43);
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
  
}
.tarjetas {
    padding: 10px;
    margin: 1px;
    margin-top: 2%;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 230px;
    gap: 5%;
    border: 2px solid white; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.tarjetas:hover{
    transform: scale(1.05); 
}

.tarjetas img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0; 
    margin-top: 0; 
}
#pes{
    color: rgb(99, 255, 37);
}
#banner{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(129, 129, 129);
}